*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}
/* <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140"><path d="M 44.65 33.992 L 95.35 33.992 L 95.35 59.341 L 70 59.341 Z M 44.65 59.341 L 70 59.341 L 95.35 84.691 L 44.65 84.691 Z M 44.65 84.691 L 70 84.691 L 70 110.041 Z" fill="rgb(0, 0, 0)"></path></svg> */