
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
